body{
    margin: 0;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(121,32,153,1) 86%);
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    margin:150px auto;
}
.detail{
    
    
    width: 300px;
    background-color:whitesmoke;
    padding: 10px 10px 10px;
    margin:auto;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    float:left;
    overflow-x: auto;
    
}
h2{
    color: #792099;
    text-align: center;
    text-transform: uppercase;
    
}
.detail label{
    display: block;
    padding: 0px;
    color:#792099;
}
.input input{
    width: 75%;
    padding: .3em;
    margin: 10px;
    border-radius: 4px;
    font-size: .8em;
}
#btn{
    text-align: center;
    padding: 10px;

}
button{
    font-size: 20px;
    background-color:#792099;
    border-radius: 5px;
    width:150px
}
 table {
    
    border: 2px solid #EBD8B2;
    border-collapse: collapse;
    float:inline-start;
    width: 500px;
    
   
    margin: 200px auto;
    padding: 10px 10px 10px;
    overflow-x: auto;
    color:#EBD8B2;
   
}
footer{
    
    color: white;
    padding: .25em 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 90vw;
    text-align: right;
}
#copyright{
    color: black;
}
#result{
    color:black;
    
}